[submodule "backend"]
	path = /src/backend
	url = https://github.com/pooh-transcendence/backend
[submodule "frontend"]
	path = /src/frontend
	url = https://github.com/pooh-transcendence/frontend
[submodule "env"]
	path = /src/env
	url = https://github.com/pooh-transcendence/env
